<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mission Planner App</title>
</head>
<body>
    <div class="fixed left-0 w-full p-3 pb-4 bg-base-200 top-0 flex justify-between items-center">
        <div>
            <h1 class="text-2xl font-bold">Hayago</h1>
        </div>
        <form method="GET">
            <select name="interface" id="interface">
                <option>Select Interface</option>
                {% for interface in interfaces %}
                    <option value="{{ interface }}" {% if interface == selected_interface %}selected{% endif %}>{{ interface }}</option>
                {% endfor %}
            </select>
            <button type="submit">Connect</button>
        </form>
    </div>

    {% if selected_interface %}
        <div class="result">
            <h3>Selected Network: {{ selected_interface }}</h3>
            <h4>TCP/IP Addresses:</h4>
            <ul>
                {% for ip in tcpIp %}
                    <li>{{ ip }}</li>
                {% endfor %}
            </ul>
            <h4>COM Ports:</h4>
            <ul>
                {% for port in comPorts %}
                    <li>{{ port.device }} - {{ port.description }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</body>
</html>
