{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mission Planner App</title>
    
    {% block css %}{% endblock css %}
    {% block js_top %}{% endblock js_top %}
</head>
<body>
    <div>
        <div class="fixed left-0 z-[999] shadow-xl w-full p-4 bg-base-200 top-0 flex justify-between items-center text-base-content">
            <div>
                <h1 class="text-2xl font-bold">Hayago</h1>
            </div>
            <div class="lg:flex items-center justify-center gap-2">
                <button type="submit" class="btn bg-blue-700 text-white btn-sm">Data</button>
                <button type="submit" class="btn btn-ghost btn-sm">Plan</button>
                <button type="submit" class="btn btn-ghost btn-sm">Config</button>
                <button type="submit" class="btn btn-ghost btn-sm">Simulation</button>
                <button type="submit" class="btn btn-ghost btn-sm">Terminal</button>
            </div>
            <form method="GET">
                <select name="interface" class="select select-border select-sm" id="interface">
                    <option value="">Select Interface</option>
                    {% for interface in interfaces %}
                        <option value="{{ interface }}" {% if interface == selected_interface %}selected{% endif %}>{{ interface }}</option>
                    {% endfor %}
                </select>
                {% if request.GET.interface %}
                    <button type="submit" class="btn btn-success btn-sm">Connected</button>
                {% else %}
                    <button type="submit" class="btn bg-blue-600 text-white btn-sm">Connect</button>
                {% endif %}
            </form>
        </div>
        <div class="min-h-screen w-full bg-base-300 pt-24 p-4 flex justify-center w-full">
            {% block content %}{% endblock content %}
        </div>
        <div class="flex w-full justify-between p-3 text-xs items-center bg-black text-white">
            <div>Copyright © 2023 - 2025 PT.Hayago Robotika Indonesia</div>
            <div>2025 Developed with drive by Hayago</div>
        </div>
    </div>
</body>
{% block js_bot %}{% endblock js_bot %}
</html>
